#head {
    text-align: center;
    font-size: xxx-large;
    color: aqua;
    font-family: Pacifico;
}


body {
    /* The image used */
    background-image: url("dark.gif");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    background-color: rgb(152, 233, 222);
    border-radius: 30px;
    font-family: Pacifico;
    font-size: large;
}

.navbar ul {
    overflow: auto;
}

.navbar li {
    float: left;
    list-style: none;
    margin: 13px 12px;
}

.navbar li a {
    padding: 3px 3px;
    text-decoration: none;
    color: black;
}

.navbar li a:hover {}

#search {
    float: right;
    color: rgb(0, 0, 0);
    padding: 10px 30px;
}

.navbar input {
    border: 1px solid black;
    border-radius: 20px;
    padding: 3px 17px;
    width: 140px;
}